<body>
    <div class="container">
        <h1>WELCOME TO FINANCIAL PLAN SYSTEM</h1>
        <p>In a business, monthly financial planning is very important. Every month, each unit has someone who makes a financial plan and brings documents to the accountant for signature and approval. Each time bringing documents and waiting for approval is quite time-consuming. Therefore, the need to build an online financial planning system is extremely important. Instead of the unit having to wait for the financial plan to be approved or not, the accountant can approve or reject online and the unit can see the status immediately. Digitizing the financial planning process will save time as well as promptly approve necessary expenses. The idea has been put into practice.</p>
        <a *ngIf="!isLoggedIn" href="/login" class="btn">Login</a>
    </div>
    <div class="contact-container">
        <h2>Contact Information</h2>
        <div class="contact-item">
            <i class="fas fa-envelope icon"></i>
            <p>Email: group6&#64;fptsoftware.com</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-phone icon"></i>
            <p>Phone: +123 456 7890</p>
        </div>
        <div class="contact-item">
            <i class="fas fa-map-marker-alt icon"></i>
            <p>Address: FPT Software, Hoa Lac, Ha Noi</p>
        </div>
    </div>
</body>