<body>
    <div class="container">
        <h1>Financial Plan</h1>
        <div class="subtitle">
            <a routerLink="/financial-staff-financial-plan-list" class="first-subtitle"
                style="font-weight: bold; text-decoration: underline;">Plan List </a>
            <p class="second-subtitle" style="font-style: italic;"> > Import Plan</p>
        </div>

        <div class="white-box">
            <h2>Step 1/2: Please select a file to import</h2>

            <div class="form-group inline-form">
                <label for="term" style="margin-left: 30px;">Term</label>
                <select id="term" style="max-width: 31.6%;">
                    <option value="" disabled selected>Select</option>
                </select>
            </div>

            <div class="form-group inline-form">
                <label for="file" style="margin-left: 30px;">File</label>
                <div class="file-input-wrapper">
                    <div class="file-upload">
                        <label for="file-input">Attach a file</label>
                        <input type="file" id="file-input" accept=".jpg, .jpeg, .png, .pdf, .doc, .docx">
                    </div>
                    <span class="file-template">File Template</span>
                </div>
            </div>
            <p class="file-info" style="margin-left: 135px;">Allowed file type: xls, xlsx, csv<br>Maximum volume: 500MB
            </p>

            <div class="button-group">
                <button routerLink="/financial-staff-financial-plan-list" class="btn btn-back">Back</button>
                <button routerLink="/second-step-import" class="btn btn-import">Import</button>
            </div>
        </div>
    </div>
</body>