<body>
    <div class="container">
        <h1>Financial Plan</h1>
        <div class="subtitle">
            <p class="first-subtitle">Plan List</p>
            <p class="second-subtitle"> > Plan Details</p>
        </div>

        <div class="white-box">
            <div class="overview-table">
                <table>
                    <tr>
                        <td>Plan: Business_template</td>
                        <td>Uploaded by: anhln2</td>
                    </tr>
                    <tr>
                        <td>Term: Q4 2022</td>
                        <td>Play Due date: 10/10/2022</td>
                    </tr>
                    <tr>
                        <td>Department: BU 1</td>
                        <td>Date: 02/10/2022</td>
                    </tr>
                    <tr>
                        <td>Status: Approved</td>
                        <td style="text-decoration: underline;">Version: 2</td>
                    </tr>
                </table>
            </div>
            <div class="total-amount">
                <p>Total plan: 213,456,778 VND</p>
            </div>
            <div class="top-buttons" style="margin-left: 1444px;">
                <button class="btn btn-export">Export</button>
            </div>
            <div class="preview-section">
                <div class="tablepage">
                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>No.</th>
                                <th>Expense</th>
                                <th>Cost type</th>
                                <th>Unit Price(VND)</th>
                                <th>Amount</th>
                                <th>Total (VND)</th>
                                <th>Project name</th>
                                <th>Supplier name</th>
                                <th>PIC</th>
                                <th>Notes</th>
                                <th>Expense Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>1</td>
                                <td>Promotion event</td>
                                <td>Direct cost</td>
                                <td>200,000,000</td>
                                <td>3</td>
                                <td>600,000,000</td>
                                <td>IN22</td>
                                <td>Internal</td>
                                <td>AnhMN2</td>
                                <td>N/A</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>2</td>
                                <td>Social media</td>
                                <td>Direct cost</td>
                                <td>15,000,000</td>
                                <td>50</td>
                                <td>750,000,000</td>
                                <td>CAM1</td>
                                <td>Internal</td>
                                <td>LanNT12</td>
                                <td>N/A</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>3</td>
                                <td>Office supplies</td>
                                <td>Administration cost</td>
                                <td>1,000,000</td>
                                <td>100</td>
                                <td>100,000,000</td>
                                <td>REC1</td>
                                <td>Hong Ha</td>
                                <td>HongHD9</td>
                                <td>N/A</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>4</td>
                                <td>Internal training</td>
                                <td>Operation cost</td>
                                <td>2,000,000</td>
                                <td>6</td>
                                <td>12,000,000</td>
                                <td>REC1</td>
                                <td>Fresher Academy</td>
                                <td>LinhHM2</td>
                                <td>N/A</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>5</td>
                                <td>Team Building</td>
                                <td>Administration cost</td>
                                <td>100,000,000</td>
                                <td>3</td>
                                <td>300,000,000</td>
                                <td>TB1</td>
                                <td>Saigon Tourist</td>
                                <td>TunM</td>
                                <td>Approximate</td>
                                <td>Approved</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>6</td>
                                <td>Customer visit</td>
                                <td>Indirect cost</td>
                                <td>400,000,000</td>
                                <td>1</td>
                                <td>400,000,000</td>
                                <td>NSK</td>
                                <td>Internal</td>
                                <td>TrungDQ</td>
                                <td>Deposit required</td>
                                <td>Approved</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span style="font-size: 13px;">10/60 rows</span>
                    <button>&lt;</button>
                    <button>&gt;</button>
                </div>
            </div>

            <div class="button-group">
                <button class="btn btn-back">Back</button>
            </div>
        </div>
    </div>
</body>