<body>
    <div class="container">
        <h2>Reset Password</h2>
        <p>Please set your new password</p>
        <div class="form-group">
            <div class="input-container">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="instruction">Use at least one letter, one number and seven characters</div>
        </div>
        <div class="form-group">
            <div class="input-container">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
        </div>
        <button type="submit">Reset</button>
    </div>
</body>
