<body>
    <div class="container">
        <h1>Monthly Report</h1>
        <div class="subtitle">
            <a routerLink="/financial-staff-financial-plan-list" class="first-subtitle"
                style="font-weight: bold; text-decoration: underline;">Plan List </a>
            <p class="second-subtitle"> > Re-up Plan</p>
        </div>

        <div class="white-box">
            <h2 style="margin-bottom: 20px;">Step 2/2: Please preview the plan details before submitting</h2>

            <div class="info-section">
                <div class="info-row">
                    <span class="info-label">Term</span>
                    <span class="info-value">Q3-2022</span>

                    <div style="margin-left: 400px;">
                        <span class="info-label" style="margin-right: 62px;">Department</span>
                        <span class="info-value">Marketing</span>
                    </div>
                </div>
                <div class="info-row">
                    <span class="info-label">File</span>
                    <span class="info-value">Marketing_Q32022_Plan.xlxs</span>
                </div>
            </div>

            <div class="table-responsive">
                <div class="preview-section">
                    <h3>Preview</h3>
                    <div class="tablepage">
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Expense</th>
                                    <th>Cost type</th>
                                    <th>Unit Price(VND)</th>
                                    <th>Amount</th>
                                    <th>Total (VND)</th>
                                    <th>Project name</th>
                                    <th>Supplier name</th>
                                    <th>PIC</th>
                                    <th>Notes</th>
                                    <th>Expense Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Promotion event</td>
                                    <td>Direct cost</td>
                                    <td>200,000,000</td>
                                    <td>3</td>
                                    <td>600,000,000</td>
                                    <td>IN22</td>
                                    <td>Internal</td>
                                    <td>AnhMN2</td>
                                    <td>N/A</td>
                                    <td>Waiting for approval</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Social media</td>
                                    <td>Direct cost</td>
                                    <td>15,000,000</td>
                                    <td>50</td>
                                    <td>750,000,000</td>
                                    <td>CAM1</td>
                                    <td>Internal</td>
                                    <td>LanNT12</td>
                                    <td>N/A</td>
                                    <td>Waiting for approval</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Office supplies</td>
                                    <td>Administration cost</td>
                                    <td>1,000,000</td>
                                    <td>100</td>
                                    <td>100,000,000</td>
                                    <td>REC1</td>
                                    <td>Hong Ha</td>
                                    <td>HongHD9</td>
                                    <td>N/A</td>
                                    <td>Approved</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Internal training</td>
                                    <td>Operation cost</td>
                                    <td>2,000,000</td>
                                    <td>6</td>
                                    <td>12,000,000</td>
                                    <td>REC1</td>
                                    <td>Fresher Academy</td>
                                    <td>LinhHM2</td>
                                    <td>N/A</td>
                                    <td>Approved</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Team Building</td>
                                    <td>Administration cost</td>
                                    <td>100,000,000</td>
                                    <td>3</td>
                                    <td>300,000,000</td>
                                    <td>TB1</td>
                                    <td>Saigon Tourist</td>
                                    <td>TunM</td>
                                    <td>Approximate</td>
                                    <td>Waiting for approval</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Customer visit</td>
                                    <td>Indirect cost</td>
                                    <td>400,000,000</td>
                                    <td>1</td>
                                    <td>400,000,000</td>
                                    <td>NSK</td>
                                    <td>Internal</td>
                                    <td>TrungDQ</td>
                                    <td>Deposit required</td>
                                    <td>Waiting for approval</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <span style="font-size: 13px;">10/60 rows</span>
                        <button>&lt;</button>
                        <button>&gt;</button>
                    </div>
                </div>
            </div>

            <div class="button-group">
                <button routerLink="/first-step-edit" class="btn btn-back">Back</button>
                <button routerLink="/financial-staff-financial-plan-list" class="btn btn-submit">Submit</button>
            </div>
        </div>
    </div>
</body>