<div class="term-management">
  <div class="header">
    <h2>Term List</h2>
    <div class="breadcrumbs">
      <span>Term Management</span> &gt; <span>Term List</span>
    </div>
  </div>

  <div class="filters">
    <div class="search-input">
      <input type="text" placeholder="Search" />
      <span style="margin-left: -25px;" class="fas fa-search"></span>
    </div>
    <select>
      <option>Status</option>
      <option value="in-progress">In-progress</option>
      <option value="closed">Closed</option>
    </select>
    <button>Search</button>
  </div>
  <div class="add">
    <button class="add-btn" routerLink="/create-term">Add</button>
  </div>

  <div div class="body" style="background-color: white;">
    <table>
      <thead>
        <tr>
          <th>Term</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let term of terms">
          <td>{{ term.name }}</td>
          <td>{{ term.startDate }}</td>
          <td>{{ term.endDate }}</td>
          <td>{{ term.status }}</td>
          <td class="action">
            <button (click)="termDetails(term)"><i style="color: #6b9efd;" class="fa-regular fa-eye"></i></button>
            <button (click)="editTerm(term)">✏️</button>
            <button (click)="deleteTerm(term)"><i style="color:#dc3545;" class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <span>10/60 rows</span>
      <button>&lt;</button>
      <button>&gt;</button>
    </div>
  </div>
</div>