<header class="header">
  <div class="header__top">
    <div class="header__logo">
      <a routerLink="/home" routerLinkActive="active" class="header__nav-link">
        <i class="fas fa-coins"></i>
      </a>
    </div>
    <h1 class="header__title">FINANCIAL PLAN SYSTEM</h1>
    <div class="header__user" *ngIf="userService.isLoggedIn(); else loginLink">
      <i class="fas fa-user"></i>
      <span>{{ userService.getUser()?.fullName }} - {{ userService.getUser()?.department }}</span>
      <!-- Dropdown for logout -->
      <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
          <a href="#" (click)="confirmLogout()">Logout</a>
        </div>
      </div>
    </div>
    <ng-template #loginLink>
      <a routerLink="/login" routerLinkActive="active" class="header__user-link">
        Login
      </a>
    </ng-template>
  </div>
  <nav class="header__nav" *ngIf="showNav">
    <ul class="header__nav-list">
      <li class="header__nav-item">
        <a routerLink="/home" routerLinkActive="active" class="header__nav-link">Home</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/financial-staff-financial-plan-list" routerLinkActive="active" class="header__nav-link">Financial Plan</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/monthly-report-list" routerLinkActive="active" class="header__nav-link">Financial Report</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/term-management" routerLinkActive="active" class="header__nav-link">Term Management</a>
      </li>
      <li class="header__nav-item">
        <a routerLink="/user-management" routerLinkActive="active" class="header__nav-link">User Management</a>
      </li>
    </ul>
  </nav>
</header>
