.container-full{
    background-color: lightgray;
  }
  .content{
    background-color: white;
    padding: 2% 2% 2% 2%; 
    margin-left: 5%; 
    height: 700px;
  }
  .d-flex {
      display: flex;
      justify-content: center;
      
      button {
        margin-right: 15%; 
      }
    
      button:last-of-type {
        margin-right: 0; 
      }
    }
    .containers{
      margin-left: 4%;
           margin-right: 4%;
    }
    .content{
      margin-left: 5%;
    }
    .conten-form{
      padding-left: 10%;
      padding-top: 4%;
    }
  .font{
      font-style: italic;
      font-size: 18px;
  }
    .button-equal {
      width: 59.31px; 
    }
    .form-label{
      font-weight: bold;
    }
    .form-select{
      background-color: lightgray;
    }
    .custom-color{
      background-color: lightgray;
    }
     
    
    
    