
<body>

    <div class="container">
      <main>
          <div class="breadcrumb">
              <a routerLink="/userlist" routerLinkActive="active">User List</a> > Create User
          </div>
          <section class="form-section">
            <form action="#" method="post">
              <div class="form-container">
                <div class="form-column">
                  <div class="form-group">
                    <label for="username">Username<span class="required">*</span></label>
                    <input type="text" id="username" name="username" placeholder="Username" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email<span class="required">*</span></label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                  </div>
                  <div class="form-group">
                    <label for="dob">DOB<span class="required">*</span></label>
                    <input type="date" id="dob" name="dob" required>
                  </div>
                  <div class="form-group">
                    <label for="department">Department<span class="required">*</span></label>
                    <select id="department" name="department" required>
                      <option value="">Select</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="role">Role<span class="required">*</span></label>
                    <select id="role" name="role" required>
                      <option value="Accountant">Accountant</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="notes">Notes</label>
                    <textarea id="notes" name="notes" placeholder="Notes"></textarea>
                  </div>
                </div>
                <div class="form-column">
                  <div class="form-group">
                    <label for="fullname">Full name<span class="required">*</span></label>
                    <input type="text" id="fullname" name="fullname" placeholder="Full name" required>
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone Number<span class="required">*</span></label>
                    <input type="tel" id="phone" name="phone" placeholder="Phone number" required>
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" placeholder="Address">
                  </div>
                  <div class="form-group">
                    <label for="position">Position<span class="required">*</span></label>
                    <select id="position" name="position" required>
                      <option value="position">Position</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="status">Status</label>
                    <input type="text" id="status" name="status" value="Active" disabled>
                  </div>
                  
                </div>
              </div>
              <div class="form-a">
                <a class="submit" routerLink="/user-management" routerLinkActive="active">Submit</a>
                <a class="cancel" routerLink="/user-management" routerLinkActive="active">Cancel</a>
              </div>
            </form>
          </section>
          
      </main>
    </div>
  </body>
  