body {
    height: 100vh; 
    margin: 0;
    background-color: #f0f1e6; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.forgot-password-container {
   
    width: 450px; 
    padding: 40px; 
    border-radius: 5px;
    text-align: center;
}

.forgot-password-title {
    margin-bottom: 30px;
    font-size: 1.75rem; 
    font-weight: bold;
    color: #000;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.form-group {
    margin-bottom: 20px;
    width: 100%; 
    display: flex;
    align-items: center;
    text-align: left;
}

.form-group label {
    width: 30%;
    margin-bottom: 0;
    color: #000;
    text-align: left;
    margin-right: 30px;
    font-weight: bold;
}

.form-group input {
    width: 65%;
    padding: 10px;
    padding-right: 200px;
    padding-left: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-right: 30%;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 50%;
    box-sizing: border-box; 
}

.btn-send, .btn-cancel {
    width: 48%;
    padding: 10px 20px; 
    background-color: #ddd;
    border: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    margin-top: 20px;
}

.btn-send:hover, .btn-cancel:hover {
    background-color: #ccc;
}
