<body>
    <div class="content">
        <h2>User List</h2>
        <a style="color: black;" routerLink="/user-management" routerLinkActive="active">User Management</a> > User List
        <div class="search-bar">
            <div>
                <input type="text" placeholder="Search by user name">
                <a>Role</a>
                <select>
                    <option value="hiddenValue" hidden>Select</option>
                    <option value="admin">Admin</option>
                    <option value="Recruiter">Recruiter</option>
                    <option value="Manager">Manager</option>
                    <option value="Interviewer">Interviewer</option>

                </select>
                <button>Search</button>
            </div>
            <a class="add" routerLink="/create-user" routerLinkActive="active">Add</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0001</td>
                    <td>AnhNQ</td>
                    <td>anhnqgmail.com</td>
                    <td>Software development</td>
                    <td>Tech Lead</td>
                    <td class="actions">
                        <a style="color: #6b9efd;" class="fas fa-eye" routerLink="/user-detail"routerLinkActive="active"></a>
                        <a class="fas fa-edit" routerLink="/edit-user" routerLinkActive="active"></a>
                        <a style="color:#dc3545;" class="fas fa-trash" (click)="openConfirmationDialog()"></a>


                    </td>
                </tr>
                <tr>
                    <td>0002</td>
                    <td>Ngoccc</td>
                    <td>ngocccgmail.com</td>
                    <td>Accounting</td>
                    <td>Accountant</td>
                    <td class="actions">
                        <a style="color: #6b9efd;" class="fas fa-eye" routerLink="/user-detail"
                            routerLinkActive="active"></a>
                        <a class="fas fa-edit" routerLink="/edit-user" routerLinkActive="active"></a>
                        <a style="color:#dc3545;" class="fas fa-trash" (click)="openConfirmationDialog()"></a>
                    </td>
                </tr>
                <tr>
                    <td>0003</td>
                    <td>Antht</td>
                    <td>antht3gmail.com</td>
                    <td>Marketing</td>
                    <td>Marketing expert</td>
                    <td class="actions">
                        <a style="color: #6b9efd;" class="fas fa-eye" routerLink="/user-detail"
                            routerLinkActive="active"></a>
                        <a class="fas fa-edit" routerLink="/edit-user" routerLinkActive="active"></a>
                        <a style="color:#dc3545;" class="fas fa-trash" (click)="openConfirmationDialog()"></a>
                    </td>
                </tr>
                <tr>
                    <td>0004</td>
                    <td>Annhd</td>
                    <td>anhhd3gmail.com</td>
                    <td>Finance</td>
                    <td>Financial executive</td>
                    <td class="actions">
                        <a style="color: #6b9efd;" class="fas fa-eye" routerLink="/user-detail"
                            routerLinkActive="active"></a>
                        <a class="fas fa-edit" routerLink="/edit-user" routerLinkActive="active"></a>
                        <a style="color:#dc3545;" class="fas fa-trash" (click)="openConfirmationDialog()"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>