html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.annual-report-container {
    padding: 20px 40px 30px 40px; /* top, right, bottom, left */
    background-color: #e5e5e5;
    font-family: Arial, sans-serif;
    color: black;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.header-links {
    display: flex;
    gap: 30px; /* 30px gap between links */
    margin-bottom: 20px; /* Add some margin below the links */
}

a.mb-4 {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #6c757d;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
    width: 180px;
}

a.mb-4:hover {
    background-color: #6c757d;
    color: #fff;
}

.header h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    font-size: 14px;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 180px;
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    background-color: white;
}

.search-bar button {
    padding: 5px 15px;
    background-color: #5a6268;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #5a6268;
}

.search-bar i {
    font-size: 18px;
    margin-left: -35px;
}

.table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.report-table {
    flex: 1;
    width: 100%;
    border-collapse: collapse;
    background-color: #f3f3f3;
    font-size: 20px;
    margin-top: 20px;
}

.report-table th,
.report-table td {
    padding: 25px; /* Increase padding for better readability */
    text-align: center;
    vertical-align: middle;
    font-size: 20px; /* Increase font size */
}

.report-table th {
    font-weight: bold;
}

.report-table tbody tr:hover {
    background-color: #f9f9f9; /* Slightly different hover color */
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    background-color: #f3f3f3;
    box-sizing: border-box;
}

.pagination p {
    margin-right: 10px;
    margin-top: 10px;
}

.pagination button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

.pagination button:focus {
    outline: none;
}

.link {
    color: black;
}
