<div class="containers">
    <h2 class="mb-4">Monthly Report</h2>
    <p class="text-muted mb-4">Monthly Report > Report Detail</p>
    <div class="content">
        <div class="content-head">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div>
                  <label class="form-label">Report: Buname_MMYYYY_Report</label>
                </div>    
                <div>
                  <label class="form-label">Term: Q4 2022</label>
                </div>
                <div>
                  <label class="form-label">Month: November 2022</label>
                </div>
                <div>
                  <label class="form-label">Department: BU1</label>
                </div>
                <div>
                  <label class="form-label">Status: New</label>
                </div>
              </div>
              <div class="col-md-6">
                <div>
                  <label class="form-label">Uploaded by: anh2</label>
                </div>
                <div>
                  <label class="form-label">Report due date: 28/10/2022</label>
                </div>
                <div>
                  <label class="form-label">Date: 28/10/2022</label>
                </div>
                <div>
                  <label class="form-label">Version: 2</label>
                </div>
              </div>
            </div>
          </div>

          <div class="content-head2">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <label class="form-label custom-font">Total Expense = 324.656.434 VND</label>
                      </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label class="form-label custom-font">Biggest Expenditure = 24.656.434 VND</label>
                      </div>
                </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col d-flex justify-content-end">
              <button routerLink="/reup-report1" class="btn btn-secondary import-button">Reup</button>
              
              <button class="btn btn-secondary">Export</button>
            </div>
          </div>
          
           

        </div>
    </div>

    <div class="content-table">
        <table>
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Expense</th>
                    <th>Cost type</th>
                    <th>Unit Price (VND)</th>
                    <th>Amount</th>
                    <th>Total (VND)</th>
                    <th>Project name</th>
                    <th>Supplier name</th>
                    <th>PIC</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Promotion event</td>
                    <td>Direct Cost</td>
                    <td>200,000,000</td>
                    <td>3</td>
                    <td>600,000,000</td>
                    <td>IN22</td>
                    <td>Internal</td>
                    <td>AnhMN2</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Social media</td>
                    <td>Direct cost</td>
                    <td>15,000,000</td>
                    <td>50</td>
                    <td>750,000,000</td>
                    <td>Cam1</td>
                    <td>Internal</td>
                    <td>LanNT12</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Social media</td>
                    <td>Direct cost</td>
                    <td>15,000,000</td>
                    <td>50</td>
                    <td>750,000,000</td>
                    <td>Cam1</td>
                    <td>Internal</td>
                    <td>LanNT12</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Social media</td>
                    <td>Direct cost</td>
                    <td>15,000,000</td>
                    <td>50</td>
                    <td>750,000,000</td>
                    <td>Cam1</td>
                    <td>Internal</td>
                    <td>LanNT12</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Social media</td>
                    <td>Direct cost</td>
                    <td>15,000,000</td>
                    <td>50</td>
                    <td>750,000,000</td>
                    <td>Cam1</td>
                    <td>Internal</td>
                    <td>LanNT12</td>
                    <td>N/A</td>
                </tr>
                <!-- Các hàng dữ liệu khác -->
            </tbody>
        </table>
        <div class="text-muted d-flex justify-content-end">10/60 rows</div>
    </div>
    <div class="d-flex justify-content-center">
        <button routerLink="/monthly-report-list" class="btn btn-secondary button-equal" style="width: 73.81px;height: 38px;">Back</button>
  
      </div>
      
 
  